---
import '@styles/global.css';
import { Section } from '@components/blocks';
import { InactiveProjectResume } from '@components/projects';

import type { Project } from '@scripts/interfaces';

/**
 * Componente representativo de uma seção de projetos inativos.
 * Exibe uma lista de projetos inativos utilizando o componente `InactiveProjectResume`.
 * @param {Object} props - As propriedades do componente.
 * @param {string} props.title - O título da seção.
 * @param {string} [props.subtitle] - O subtítulo da seção (opcional).
 * @param {string} [props.lead] - O texto introdutório da seção (opcional).
 * @param {string} [props.class] - Classes CSS adicionais para estilização (opcional).
 * @param {Project[]} props.projects - A lista de projetos inativos a serem exibidos.
 */
interface Props{
    title: string;
    subtitle?: string;
    lead?: string;
    class?: string;
    projects: Project[];
}

const { title, subtitle = "", lead = "", class: externalClass = "", projects } = Astro.props;
---

<Section title={title} class={externalClass} subtitle={subtitle} lead={lead}>
    <!-- Renderização automática dos resumos dos projetos iniativos -->
    {projects.map(project =>(
        <InactiveProjectResume 
            name={project.name}
            members={project.professors}
            description={project.description}
            research_areas={project.research_areas}/>
    ))}
</Section>